.d{
    height: 200px;
    width: 200px;
    border: 1px solid black;
}
.h{
    background-color:gray;
    font-weight: bold;
    padding: 20px;
    left: 500px;
}
.d2{
    margin-left: 440px;
    margin-top: -405px;
    position:fixed;
}
